html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-dark {
    background: linear-gradient(90deg, rgba(3, 65, 81, 1) 0%, rgba(148, 234, 169, 1) 35%)
}

.card-img {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}