@model IEnumerable<GV.DVDCentral.BL.Models.Genre>

<ul>
    @foreach(var genre in Model)
    {
        <li>
            <a asp-controller="Movie"
                asp-action="Browse"
                asp-route-id="@genre.Id">@genre.Description</a>

        </li>
    }
    <li>
        <a asp-controller="Movie"
           asp-action="Index">All</a>
    </li>

    <li><a asp-controller="User" asp-action="Login">Login</a> </li>
    <li><a asp-controller="User" asp-action="Logout">Logout</a> </li>

    <li><a asp-controller="User" asp-action="Browse2" >My user information</a></li>


</ul>